@import "tailwindcss";

html {
  font-family: "Roboto", sans-serif;
}

.jb-btn-shadow:not(:disabled) {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.15);
}

.jb-btn-shadow:hover:not(:disabled) {
  box-shadow: 2px 2px 0px rgba(0, 0, 0, 0.35);
}
